CONFIG_LOCALVERSION="-msm8939"
CONFIG_NR_CPUS=8
CONFIG_MSM_GCC_8939=y
CONFIG_INTERCONNECT=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_INTERCONNECT_QCOM_MSM8939=y
CONFIG_REGULATOR_ONSEMI_NCP6335D=y
CONFIG_PM_DEVFREQ=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_MSM_DEVFREQ_DEVBW=y
CONFIG_PM_DEVFREQ_EVENT=y

CONFIG_DRM_PANEL_MSM8916_GENERATED=n

# idol3
CONFIG_DRM_PANEL_ALCATEL_IDOL3_NT35596=m
CONFIG_DRM_PANEL_ALCATEL_IDOL3_R63315=m

# kiwi
CONFIG_TOUCHSCREEN_CYTTSP5=m
CONFIG_DRM_PANEL_CMI_NT35532=m
CONFIG_DRM_PANEL_TIANMA_NT35596=m
