CONFIG_MSM_GCC_8939=y
CONFIG_INTERCONNECT=y
CONFIG_INTERCONNECT_QCOM=y
CONFIG_INTERCONNECT_QCOM_MSM8939=y
CONFIG_REGULATOR_ONSEMI_NCP6335D=y

CONFIG_TOUCHSCREEN_CYTTSP5=m
CONFIG_DRM_PANEL_CMI_NT35532=m

CONFIG_DRM_PANEL_SHARP_R63315=m
CONFIG_DRM_PANEL_TIANMA_NT35596=m
CONFIG_SND_SOC_AK4375=m
CONFIG_LEDS_SN31XX=m
