#CONFIG_MSM_GCC_8939=y
# Interconnect is disabled for now
#CONFIG_INTERCONNECT=y
#CONFIG_INTERCONNECT_QCOM=y
#CONFIG_INTERCONNECT_QCOM_MSM8939=y
# Regulator chip commonly used with msm8939
CONFIG_REGULATOR_ONSEMI_NCP6335D=y
# For backlight
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_LEDS_QCOM_LPG=y
# For I2C, like in msm8916
CONFIG_I2C_MUX=y
CONFIG_I2C_GPIO=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_I2C_SLAVE=y
# For sound, like in msm8916
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=m
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=m
CONFIG_SND_SOC_LPASS_CPU=m
CONFIG_SND_SOC_LPASS_PLATFORM=m
CONFIG_SND_SOC_LPASS_APQ8016=m
CONFIG_SND_SOC_APQ8016_SBC=m
CONFIG_SND_SOC_QCOM_COMMON=m
# For haptics, like in msm9816
CONFIG_INPUT_PM8XXX_VIBRATOR=m
CONFIG_INPUT_GPIO_VIBRA=m
# Common sensors
CONFIG_IIO_BUFFER=y
CONFIG_IIO_KFIFO_BUF=m
CONFIG_IIO_TRIGGERED_BUFFER=m
CONFIG_IIO_TRIGGER=y
CONFIG_IIO_CONSUMERS_PER_TRIGGER=2
CONFIG_BMG160=m
CONFIG_BMG160_I2C=m
CONFIG_BMG160_SPI=m
CONFIG_TSL2772=m
CONFIG_AK8975=m
CONFIG_AK09911=m
CONFIG_KXCJK1013=m
# idol3: sound
CONFIG_SND_SOC_AK4375=m
CONFIG_SND_SOC_TFA989X=m
# idol3: panels
CONFIG_DRM_PANEL_SHARP_R63315=m
CONFIG_DRM_PANEL_TIANMA_NT35596=m
# idol3: led
CONFIG_LEDS_SN31XX=m
# idol3: touch
CONFIG_TOUCHSCREEN_EDT_FT5X06=m
CONFIG_RMI4_CORE=m
CONFIG_RMI4_2D_SENSOR=y
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
